@mixin flex($aling: center, $justify: center, $direction: column, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
  gap: $gap;
}
@mixin media-break($media: min-width, $break: 780px) {
  @media screen and ($media: $break) {
    @content;
  }
}

@mixin roundSlices($top, $left, $bottom, $rigth) {
  border-radius: $top $left $bottom $rigth;
}

@mixin shadow($eje, $color, $blur: $eje * 2) {
  box-shadow: $eje $eje $blur $color;
}
