@mixin flex ($aling:center, $justify:center, $direction:column, $gap:2.5rem) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
  gap: $gap;
}

@mixin media-break ($media:min-width, $break:600px){
  @media screen  and ($media:$break){
    @content 
  }
}

@mixin round ($top: 20px, $left:0, $bottom:0, $rigth:20px) {
  border-radius: $top $left $bottom $rigth;
}