// ------- Colors primary -------
$light-cyan: rgba(162, 246, 246, 0.502);
$light-blue: rgba(119, 255, 255, 0.503);
$very-light-green: rgba(21, 150, 153, 0.345);
$soft-green: rgb(2, 43, 47);
$cyan: rgb(99, 179, 155);
$soft-dark: #0002;
$white-cyan: rgba(205, 244, 255, 0.463);
$white: rgb(255, 255, 255);
$linear-dark-cyan-soft: linear-gradient(
  #000,
  rgb(0, 255, 255),
  rgb(24, 112, 109)
);
// ------- Fonts-styles -------
$spacing: 0.06em;
$lg: 2.7em;
$md: 1.15em;
$sm: 0.9em;
