// ---- Colors ----
// color-title 
$soft-cyan:#C4DFDF;
// bs-input
$marron:#587171;
//button - outline input
$light-withe:#F8F6F4;
// bg-body
$light-blue:#E3F4F4;  
// colors data/head table
$cyan:#0E8388;
