// ----------- Colors -----------  
$soft-cyan:#91a8a8;
$marron:#587171e1;
$light-white:#c0d2ce;
$light-blue:#E3F4F4;  
$cyan:#0E8388;
$light-gray:#4e5c5d;
// -----------border Radius-----------  
$round-20-px: 20px 0 0 20px; 
