.title {
  font-weight: 900;
  background: linear-gradient(to right, #75bcdf, #57657a, #4d4d9c, #3f3f45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}