@use "../abtract/mixins" as layout;
.form {
  @include layout.media-break() {
    width: 40%;
    margin-block: 2.5rem;
  }
  &__label{
    @include layout.flex($direction:row , $gap:0rem);
  }

  &__input{
    padding: .75rem 1rem;
    width: 100%;
    @include layout.round();
    @include layout.media-break() {
      padding: .84rem 1rem;
    }
  }

  &__send{
    padding: .47rem .5rem;
    width: 4rem;
    @include layout.round(0, 20px, 20px, 0);
  }
}