@use "../abtract/variables" as colors_bg;
@font-face {
  font-family: openSans;
  src: url(../assets/font/OpenSans-SemiBold.ttf);
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family: openSans;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors_bg.$light-blue; 
}

h1 {
  color: colors_bg.$soft-cyan;
  font-size: 3em;
  text-align:center;
  padding-top: 2rem;
}

span {
  display: inline-block;
}

input {
  border-radius:  colors_bg.$round-20-px; 
  box-shadow: -.1rem .1rem .4rem colors_bg.$marron;
  padding: .25rem  1rem;
  &:focus{
    outline: solid 1.5px  colors_bg.$light-white;;
  }
}

button {
  border-radius:  colors_bg.$round-20-px; 
  background-color: colors_bg.$light-white;
  padding: .5rem;
  width: 3rem;
  cursor: pointer;
}

th {
  color: colors_bg.$cyan;
  font-size: 1.1em; 
  padding: .5rem 1.25rem;
}

td {
  color: colors_bg.$light-gray;
  padding-block: .5rem;
  font-size: .75em; 
  text-align: center;
}