@use "../abtract/variables" as colors_bg;
@font-face {
  font-family: condensed_bold;
  src: url("../assets/fonts/Cabin_Condensed-Bold.ttf");
}

@font-face {
  font-family: condensed_semibold;
  src: url("../assets/fonts/Cabin_Condensed-SemiBold.ttf");
}

body {
  min-height: 100vh;
  font-family: condensed_semibold;
  font-size: 18px;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#000, #add, rgb(128, 114, 114));
}

h1 {
  font-family: condensed_bold;
  font-size: colors_bg.$lg;
  text-align: center;
  letter-spacing: colors_bg.$spacing;
}

p {
  line-height: 1.35;
  text-align: center;
  letter-spacing: colors_bg.$spacing;
  font-size: colors_bg.$md;
  color: #fff;
}

strong {
  display: block;
  font-family: condensed_bold;
  color: rgb(2, 43, 47);
  text-shadow: 0.1rem 0.1rem 0.2rem #00000086;
}

a {
  font-size: colors_bg.$sm;
  letter-spacing: colors_bg.$spacing;
}
