@use "../abtract/mixins" as layout;
@use "../abtract/variables" as colors_bg;
@font-face {
  font-family: condensed_bold;
  src: url("../assets/fonts/Cabin_Condensed-Bold.ttf");
}

@font-face {
  font-family: condensed_semibold;
  src: url("../assets/fonts/Cabin_Condensed-SemiBold.ttf");
}

body {
  min-height: 100vh;
  font-family: condensed_semibold;
  font-size: 18px;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: colors_bg.$linear-dark-cyan-soft;
  background-repeat: no-repeat;
}

h1 {
  font-family: condensed_bold;
  font-size: colors_bg.$lg;
  text-align: center;
  letter-spacing: colors_bg.$spacing;
  @include layout.media-break() {
    font-size: 4em;
  }
}

p {
  line-height: 1.35;
  text-align: center;
  letter-spacing: colors_bg.$spacing;
  font-size: colors_bg.$md;
  color: colors_bg.$white;
  @include layout.media-break() {
    font-size: 1.7em;
  }
}

strong {
  display: block;
  @include layout.media-break() {
    display: inline;
  }
  font-family: condensed_bold;
  color: colors_bg.$soft-green;
  text-shadow: 0.1rem 0.1rem 0.2rem #00000086;
}

a {
  font-size: colors_bg.$sm;
  letter-spacing: colors_bg.$spacing;
  @include layout.media-break() {
    font-size: 1.25em;
  }
}
