@use "../abtract/mixins" as layout;
@use "../abtract/variables" as colors_bg;
.header {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  padding-block: 1rem;
  position: relative;
  background-color: colors_bg.$light-cyan;
  @include layout.roundSlices(0%, 0%, 20%, 20%);
  @include layout.shadow(0.3rem, colors_bg.$light-blue, 1rem);
  @include layout.media-break() {
    @include layout.roundSlices(0%, 0%, 5%, 5%);
    padding-inline: 1rem;
  }
  &__information {
    @include layout.flex($justify: space-around, $gap: 0.5rem);
    @include layout.media-break() {
      width: 60%;
      padding: 0.5rem 4rem;
      border-radius: 2rem;
      @include layout.flex($justify: space-around, $direction: row-reverse);
      @include layout.shadow(0.3rem, colors_bg.$very-light-green);
    }
  }
  &__logo {
    width: 4rem;
    border-radius: 50%;
    @include layout.media-break() {
      width: 6.5rem;
    }
  }
  &__wrapper {
    width: 4.25rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    @include layout.media-break() {
      top: calc(50% - 3.25rem);
      right: 10rem;
    }
  }
  &__icon--active {
    filter: hue-rotate(90deg) saturate(3);
  }
}
