@use "../abtract/variables" as colors_bg;
@use "../abtract/mixins" as layout;
.main {
  position: relative;
  &__content {
    height: 22.1rem;
    padding-inline: 1.52rem;
    overflow: auto;
    @include layout.media-break() {
      padding: 0.25rem;
      overflow: none;
    }
  }
  &__container {
    width: 3.5rem;
    position: absolute;
    top: 15%;
    left: 80%;
    @include layout.media-break() {
      width: 5rem;
      top: 8%;
      left: 75%;
    }
  }

  &__icon {
    cursor: pointer;
    &--active {
      filter: hue-rotate(90deg) saturate(5);
      transition: 0.6s ease;
    }
  }

  &__title {
    padding-top: 2rem;
    color: colors_bg.$white;
    text-shadow: 0.1rem 0.1rem 0.5rem #c9c9c9, 0.2rem 0.2rem 1rem #aff,
      0.3rem 0.3rem 1.25rem rgb(122, 255, 255);
  }

  // Al ultimo
  &__draw {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    // background-color: red;
  }
}
